Node-RED/flows.json
[
    {
        "id": "97f5709e766444d6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90f6fd3fe454383c",
        "type": "json",
        "z": "97f5709e766444d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "dfa1a76e3e0f3014",
                "7315c37da8a75e3b"
            ]
        ]
    },
    {
        "id": "dfa1a76e3e0f3014",
        "type": "function",
        "z": "97f5709e766444d6",
        "name": "function 1",
        "func": "var value = JSON.parse(JSON.stringify(msg.payload));\nvalue = msg;\n\nvar d = new Date();\nvar year = d.getFullYear();\nvar month = ('0' + (d.getMonth() + 1)).slice(-2);\nvar day = ('0' + d.getDate()).slice(-2);\nvar date = year + \"-\" + month + \"-\" + day;\nvar hours = ('0' + d.getHours()).slice(-2);\nvar minutes = ('0' + d.getMinutes()).slice(-2);\nvar seconds = ('0' + d.getSeconds()).slice(-2);\nvar time = hours + \":\" + minutes + \":\" + seconds;\n\nvar sensor1 = msg.payload.Temp;\nvar sensor2 = msg.payload.Hum;\nvar sensor3 = msg.payload.Fire;\nmsg.payload = [date, time, sensor1, sensor2, sensor3];\nmsg.topic = 'INSERT INTO ews_table(date, time, temp, hum, fa) VALUES (?,?,?,?,?);';\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "5bb93f6468a0a568"
            ]
        ]
    },
    {
        "id": "5bb93f6468a0a568",
        "type": "mysql",
        "z": "97f5709e766444d6",
        "mydb": "f6a1df3789cf03cb",
        "name": "",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bb9ab967643a447d",
        "type": "serial in",
        "z": "97f5709e766444d6",
        "name": "",
        "serial": "e919347e6cc7e713",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "90f6fd3fe454383c"
            ]
        ]
    },
    {
        "id": "7315c37da8a75e3b",
        "type": "function",
        "z": "97f5709e766444d6",
        "name": "function 2",
        "func": "var value = JSON.parse(JSON.stringify(msg.payload));\nvalue = msg;\n\nif (msg.payload.Fire == 1){\n    msg.payload = \"Ada Api\";\n    return [msg, null];\n} else if (msg.payload.Temp > 24) {\n    msg.payload = \"Suhu Gede\";\n    return[msg, null];\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "8366773c16c659fb"
            ]
        ]
    },
    {
        "id": "8366773c16c659fb",
        "type": "e-mail",
        "z": "97f5709e766444d6",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "emailtesarduino@gmail.com",
        "dname": "",
        "credentials": {},
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "f6a1df3789cf03cb",
        "type": "MySQLdatabase",
        "name": "",
        "host": "sql12.freemysqlhosting.net",
        "port": "3306",
        "db": "sql12611453",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "e919347e6cc7e713",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]