Node-RED/flows.json
[
    {
        "id": "4fa502f867bf9d0f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09087d8b376c1ca0",
        "type": "json",
        "z": "4fa502f867bf9d0f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "1cb5957af76f4d8b"
            ]
        ]
    },
    {
        "id": "1cb5957af76f4d8b",
        "type": "function",
        "z": "4fa502f867bf9d0f",
        "name": "function 1",
        "func": "var value = JSON.parse(JSON.stringify(msg.payload));\nvalue = msg;\nvar sensor1 = msg.payload.Temp;\nvar sensor2 = msg.payload.Hum;\nmsg.payload = [sensor1, sensor2];\nmsg.topic = ' INSERT INTO`ews_table`(`date`, `time`, `temp`, `hum`, `fa`) VALUES(NULL, NULL, ?, ?, NULL); ';\nreturn msg; \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 360,
        "wires": [
            [
                "a2f068a7bf460a6c"
            ]
        ]
    },
    {
        "id": "a2f068a7bf460a6c",
        "type": "mysql",
        "z": "4fa502f867bf9d0f",
        "mydb": "f6a1df3789cf03cb",
        "name": "",
        "x": 1010,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e453178eb70e5577",
        "type": "serial in",
        "z": "4fa502f867bf9d0f",
        "name": "",
        "serial": "65e8ece33e7b35e8",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "09087d8b376c1ca0"
            ]
        ]
    },
    {
        "id": "f6a1df3789cf03cb",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "ews",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "65e8ece33e7b35e8",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]